.App{
  display: flex;
  /* flex-direction: column; */
  flex: 1;
}

.leftBar{
  width: 30%;
  height: 100vh;
  background: linear-gradient(26.99deg, rgba(69, 26, 78, 0.2) 52.61%, rgba(60, 13, 13, 0.2) 95.07%), linear-gradient(164.67deg, rgba(22, 4, 31, 0.98) 4.47%, #380C4A 15.5%, #3B0E46 19.19%, #3D0F42 23.38%, #441436 30.26%, #33254E 36.4%, #2B2D59 42.79%, #292654 47.99%, #271F4F 52.8%, #240D37 64.72%, #22052D 79.1%);
}


.form{
  margin: auto;
}

.cardForward{
  position: absolute;
  top: 100px;
  left: 122px;
}